<div class="container-fluid p-0 d-flex h-100">
    <div id="bdSidebar" 
         class="d-flex flex-column 
                flex-shrink-0 
                p-3 bg-success
                text-white offcanvas-md offcanvas-start">
        <a href="#" 
           class="navbar-brand">
        </a><hr>
        <ul class="mynav nav nav-pills flex-column mb-auto">
            <li class="nav-item mb-1">
                <a href="#">
                    <i class="fa-regular fa-user"></i>
                    Profile
                </a>
            </li>

            <li class="nav-item mb-1">
                <a href="#">
                    <i class="fa-regular fa-bookmark"></i>
                    Saved Articles
                    <span class="notification-badge">5</span>
                </a>
            </li>
            <li class="nav-item mb-1">
                <a href="#">
                    <i class="fa-regular fa-newspaper"></i>
                    Articles
                </a>
            </li>
            <li class="nav-item mb-1">
                <a href="#">
                    <i class="fa-solid fa-archway"></i>
                    Institutions
                </a>
            </li>
            <li class="nav-item mb-1">
                <a href="#">
                    <i class="fa-solid fa-graduation-cap"></i>
                    Organizations
                </a>
            </li>

            <li class="sidebar-item  nav-item mb-1">
                <a href="#" 
                   class="sidebar-link collapsed" 
                   data-bs-toggle="collapse"
                   data-bs-target="#settings"
                   aria-expanded="false"
                   aria-controls="settings">
                    <i class="fas fa-cog pe-2"></i>
                    <span class="topic">Settings </span>
                </a>
                <ul id="settings" 
                    class="sidebar-dropdown list-unstyled collapse" 
                    data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fas fa-sign-in-alt pe-2"></i>
                            <span class="topic"> Login</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fas fa-user-plus pe-2"></i>
                            <span class="topic">Register</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link">
                            <i class="fas fa-sign-out-alt pe-2"></i>
                            <span class="topic">Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <hr>
        <div class="d-flex">

            <i class="fa-solid fa-book  me-2"></i>
            <span>
                <h6 class="mt-1 mb-0">
                      Geeks for Geeks Learning Portal
                  </h6>
            </span>
        </div>
    </div>