body {
    background-color: whitesmoke;
}

::-webkit-scrollbar {
    display: none;
}

.fa-circle-exclamation {
    color: red;
}

.no-underline {
    text-decoration: none;
}

.bg-title {
    background-color: rgba(211, 211, 211, 0.5);
    padding: 20px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.content {
    padding: 10px;
    box-sizing: border-box;
}
